.card-container{
    display:flex;
    flex-direction:column;
    /* justify-content:center; */
    height:100%;
    align-items: center;
    justify-content: center;
}
h1{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
}
.card-inside{
    display:flex;
    flex-direction:column;
    width:70%;
    height:90%;
    background-color:blueviolet;
    align-items:center;
    justify-content:center;
    
}